body {
  margin: 0;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.form-section {
  width: 40%;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.preview-section {
  width: 60%;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
}

button {
  padding: 6px 10px;
  margin: 5px 0;
  cursor: pointer;
}

/* A4 Resume Page */
.a4-page {
  width: 210mm;
  min-height: 297mm;
  background: white;
  padding: 20mm;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

/* Name */
.resume-name {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

/* Contact Info */
.contact {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Links styling */
.contact a {
  color: blue;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
  color:blue
}

/* Sections */
.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}